* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0 1.5rem 0 1.5rem;
  background: #041C32;
}

.header-bar a {
  text-decoration: none;
  color: #f1f1f1;
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
  top: 0;
  padding: 0 1rem 0 1rem;
  background: #064663;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header a {
  text-decoration: none;
  color: #f1f1f1;
}

.header-bar-right {
  display: flex;
  align-items: center;
}

.header-user {
  margin-left: 1rem;
}

.wrapper {
  display: flex;
  height: 100%;
  margin: 0 auto;
  background: #edf2f4;
}

.sidenav-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.sidenav {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-right: 1px solid #000;
  background: #dee2e6;
}

.sidenav-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav-list-item {
  margin: 0.5rem;
}

.sidenav-list-item a {
  text-decoration: none;
}

.product-list-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.store-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2.5rem 1rem 2.5rem 1rem;
  justify-items: center;
  width: 95rem;
}

.product-card {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  max-height: 24rem;
  min-height: 24rem;
  max-width: 20rem;
  min-width: 20rem;
  padding: .5rem;
  border: 1px solid #778da9;
  border-radius: 0.3rem;
  background: #ffffff;
}

.product-card-inner {
  border: 1px solid #000;
}

.product-image-box img {
  max-height: 15rem;
  min-height: 15rem;
  max-width: 15rem;
  min-width: 15rem;
  object-fit: contain;
}

.product-detail-box {
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid #000;
}

.pagination-bar {
  color: #000;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  z-index: 1000;
  color: #ffffff;
  background: #1d2d44;
}