* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2rem;
  padding-right: 1.5rem;
  background: #003f88;
  border-bottom: 1px solid #000;
}

.header-bar a {
  text-decoration: none;
  color: #f1f1f1;
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 100%;
  top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  background: #1d2d44;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header a {
  text-decoration: none;
  color: #f1f1f1;
}

.header-bar-right {
  display: flex;
  align-items: center;
}

.header-user {
  margin-left: 1rem;
}

.content-wrapper {
  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  background: #e9ecef;
}

.content-wrapper-inner {}

.category-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background: #0f4c5c;
  color: #f1f1f1;
}

.home-page {
  height: 100%;
}

.store-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #778da9;
  justify-items: center;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 20rem;
  min-height: 20rem;
  max-width: 17rem;
  min-width: 17rem;
  margin: 0.4rem;
  padding: .5rem;
  border: 1px solid #000;
  background: #f1f1f1;
}

.product-image-box {
  /* border: 1px solid #000; */
}

.product-image-box img {
  max-height: 15rem;
  min-height: 15rem;
  max-width: 15rem;
  min-width: 15rem;
  object-fit: cover;
}

.product-detail-box {
  width: 100%;
  border: 1px solid #000;
}

.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background: #0f4c5c;
  color: #f1f1f1;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 1rem;
  z-index: 1000;
  color: #ffffff;
  background: #1d2d44;
}