* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}


header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  background: #0f4c5c;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header a {
  text-decoration: none;
  color: #f1f1f1;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-user {
  margin-left: 1rem;
}

.content-wrapper {
  position: relative;
  min-height: 100vh;
  max-width: 65rem;
  margin: 0 auto;
  border: 1px solid #000;
  background: #748cab;
}

.content-wrapper-inner {}

.category-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background: #1d2d44;
  color: #f1f1f1;
}

.home-page {}

.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: #1d2d44;
  color: #f1f1f1;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 1rem;
  z-index: 1000;
  color: #ffffff;
  background: #00509d;
}