* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #4a4e69;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

/* Components */

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 100%;
  top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  background: #004e98;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header a {
  text-decoration: none;
  color: #f1f1f1;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-user {
  margin-left: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 10rem;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 1rem;
  z-index: 1000;
  color: #ffffff;
  background: #1B2430;
}

/* Components */


/* Pages */

.pages {
  min-height: 100vh;
  max-width: 85rem;
  padding: 1rem;
  margin: 0 auto;
  border: 4px solid #000;
  background: #f1f1f1;
}

.home-page {
  border: 1px solid #000;
}

/* Pages */